<h1>Companies#show</h1>
<p>Find me in app/views/companies/show.html.erb</p>

<p>
	<strong><%= @company.name %></strong>
</p>

<table>
	<% @company.certifications.each do |certification| %>
	<tr>
		<td><%= link_to(certification.name, certification) %></td>
	</tr>
	<% end %>
</table>