<h1>Certifications#show</h1>
<p>Find me in app/views/certifications/show.html.erb</p>

<p>
	<strong><%= @certification.name %></strong>
	<table>
		<tr><%= @certification.company.name %></tr>
		<tr><%= @certification.year %></tr>
	</table>
</p>
